.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
  background-color:#f1f1f1!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvasbox {
  border: solid 3px #FE6B8A;
  border-radius: 8px;
  width: 666px!important;
}


.MuiContainer-root.MuiContainer-maxWidthSm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.MuiButton-outlinedPrimary {
  /* background: linear-gradient(red, orange); */
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)
  
}

.MuiButton-outlinedPrimary {
  color: #fff!important;
}



h1 {
  color: #a25b9e;
  margin-top:80px;
  margin-bottom: 65px!important;
  color: #ec4c4c;
  color: #f6f9ff;

}

h2 {
  color: #a25b9e;
  text-align: center;
}

.MuiAppBar-colorSecondary {
  background-color:#fff!important;
}

.app-holder {
  background-color: #fff;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: 'Roboto Condensed', serif;
}
.main {
  display: flex;
  justify-content: center;
}
.color-guide {
  margin: 20px 40px;
}
h5 {
  margin-bottom: 10px;
}
.user {
  padding: 7px 15px;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background: #EE92C2;
  margin: 10px 0;
}
.guest {
  background: #F0C987;
  color: white;
}

.ui.secondary.menu {
  background: #282c34;
  color: white;
}


.ui.secondary.menu .active.item {
  background-color:transparent!important;
  color: rgba(0,0,0,.95);
  border-radius: 0!important;
  border-bottom: solid 4px blue;
}

.ui.inverted.segment {
  /* background: #c1cbd4!important; */
background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%)!important;

}

.homepage-banner{
  min-height: 400px!important;
}

.ui.segment.placeholder-images-group {
  margin-top: 0px;
  padding: 50px;

}

.ui.primary.button {
  background-color: #0157ff!important;
}
.ui.primary.button:hover {
  background-color: #0c49be!important;

}

.ui.primary.button {
  font-size: 1.5rem;
}

.left.menu >a {
  padding: 120px;
  text-transform: uppercase;
  color: #fff;
  
}

.left.menu {
  /* margin-top: 20px; */

  background-color: #36403d;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* GameStatusBar */
.ui.raised.segment.game-status-bar {
  margin: 1rem 6rem;
  background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  /* background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
  border: none;
}

h5 {
  /* color: lightslategray; */
  color: #2132ae;
}

/* profile page */
.ui.very.padded.segment.profile-header-section,
.ui.very.padded.segment.profile-drawings-section
 {
  margin: 1rem 6rem;
}

.ui.header>.image:not(.icon), .ui.header>img {
  width: 7.5em!important;
}

/* media queries */
@media only screen and (max-width: 900px) {
  .left.menu >a {
    padding-left: 60px;
    padding-right: 60px;
  }

  .ui.very.padded.segment.profile-header-section,
  .ui.very.padded.segment.profile-drawings-section
  {
    margin: 1rem 2rem;
  }
}